@font-face {
  font-family: 'Helvetica_Light-Normal';
  src: url('../styles/vendors/bootstrap/fonts/Helvetica_Light-Normal.ttf') format('ttf');
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica_Light-Normal';
}
body, p, div, a {
    font-family: 'Helvetica_Light-Normal';
}